@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@font-face {
  font-family: "my-font";
  src: url(../font/setofont.ttf) format("truetype");
  font-display: swap;
}
/*------------------------------------
var
-------------------------------------*/
/*------------------------------------
common
-------------------------------------*/
img {
  width: 100%;
}

body {
  font-family: "my-font", "Noto Sans JP", sans-serif;
  font-size: 100%;
  color: #333;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  position: relative;
  padding-top: 50px;
}

@-webkit-keyframes textFlash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textFlash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.motionToTop {
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.motionToTop.active {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.motionToRight {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.motionToRight.active {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.motionToLeft {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.motionToLeft.active {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

/*------------------------------------
header
-------------------------------------*/
.aside-left {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2px;
  border-radius: 0 0 8px 0;
  box-shadow: #333 0 1px 1px;
  z-index: 500;
}
.aside-left .h-logo {
  width: 100px;
}
.aside-left .h-info {
  font-size: 0.75rem;
  line-height: 1.2rem;
}
.aside-left .h-box-b .sitemap-btn {
  display: inline-block;
  position: relative;
  font-size: 0.75rem;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.aside-left .h-box-b .sitemap-btn > span {
  background-color: #666;
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.aside-left .h-box-b .sitemap-btn > span:nth-child(1) {
  top: 22px;
}
.aside-left .h-box-b .sitemap-btn > span:nth-child(3) {
  top: 38px;
}
.aside-left .h-box-b .sitemap-btn > p {
  position: absolute;
  width: 80px;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-decoration: underline;
}
@media screen and (min-width: 900px) {
  .aside-left .h-box-b .sitemap-btn:hover {
    opacity: 0.8;
  }
}
.aside-left .h-box-b .sitemap-btn.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-15px, -4px);
          transform: rotate(-45deg) translate(-15px, -4px);
}
.aside-left .h-box-b .sitemap-btn.active span:nth-child(2) {
  opacity: 0;
}
.aside-left .h-box-b .sitemap-btn.active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-15px, 4px);
          transform: rotate(45deg) translate(-15px, 4px);
}
.aside-left .h-box-b .sitemap-btn.active p {
  color: rgb(0, 117, 252);
}

.aside-right {
  display: inline-block;
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 40px;
  z-index: 100;
}
.aside-right .right-nav-text {
  -webkit-transform: scale(2) translateX(-15%);
          transform: scale(2) translateX(-15%);
  -webkit-filter: drop-shadow(0 0 5px #fff);
          filter: drop-shadow(0 0 5px #fff);
  margin-bottom: 10px;
}
.aside-right li {
  padding: 5px 0;
}
.aside-right li img {
  border-radius: 5px;
  box-shadow: -3px 3px 1px #666;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 900px) {
  .aside-right li img:hover {
    box-shadow: 3px -3px 1px #666;
    -webkit-transform: translateX(-50%) rotate(60deg) scale(1.2);
            transform: translateX(-50%) rotate(60deg) scale(1.2);
  }
}
.aside-right .hidden {
  display: none;
}

.top-header {
  display: none;
}

/*------------------------------------
hamburger - sitemap 
-------------------------------------*/
.sitemap-mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 99;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sitemap-mask.show {
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}
.sitemap-mask .sm-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.sitemap-mask .sm-area .sm-list {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 0.875rem;
}
.sitemap-mask .sm-area .sm-list > li {
  padding: 10px 0;
  line-height: 1.5rem;
}
.sitemap-mask .sm-area .sm-list .sm-list-number {
  color: #000;
  padding-right: 10px;
  letter-spacing: 0.1em;
  position: relative;
}
.sitemap-mask .sm-area .sm-list .sm-list-number::after {
  content: "";
  width: 60%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 4px;
}
.sitemap-mask .sm-area .sm-list a {
  padding: 4px;
}
@media screen and (min-width: 900px) {
  .sitemap-mask .sm-area .sm-list a:hover {
    background-color: #333;
    color: #fff;
  }
}

/*------------------------------------
main - section - front
-------------------------------------*/
.home-bg-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.home-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/video/video1.gif), url(../img/photo/home-main-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.front .text-logo {
  padding: 40vh 5%;
  width: 40%;
  min-width: 300px;
}
.front .text-logo h1 {
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

/*------------------------------------
main - section - news
-------------------------------------*/
.home-news .home-news-area-box {
  width: 60%;
  height: 180px;
  padding: 9px;
  margin: 0 0 0 auto;
  background-color: #d9d9d9;
}
.home-news .home-news-area-box .home-news-texts {
  font-size: 0.825rem;
  line-height: 1.5rem;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #666;
}
.home-news .home-news-area-box .home-news-texts a {
  text-decoration: underline;
}
@media screen and (min-width: 900px) {
  .home-news .home-news-area-box .home-news-texts a:hover {
    color: #00f;
  }
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 60px;
  }
  50% {
    top: 80px;
  }
}

@keyframes arrow {
  0%, 100% {
    top: 60px;
  }
  50% {
    top: 80px;
  }
}
.scroll {
  color: #fff;
  position: relative;
  font-size: 1.3em;
  display: inline-block;
  height: 100px;
  margin: 0 auto;
  max-width: 80%;
}
.scroll::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  top: 20px;
  right: 0;
  left: 0;
  -webkit-animation: 3s arrow infinite ease;
          animation: 3s arrow infinite ease;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*------------------------------------
main - section - about
-------------------------------------*/
.about .section-title {
  font-family: "my-font", "Noto Sans JP", "sans-serif";
  margin: 80px;
  text-align: center;
  font-size: clamp(38px, 3vw, 58px);
  color: #fff;
  -webkit-filter: drop-shadow(0 0 5px #666);
          filter: drop-shadow(0 0 5px #666);
}
.about .section-title span {
  display: inline-block;
  -webkit-animation: textFlash 1s;
          animation: textFlash 1s;
}
.about .about-article-left {
  position: relative;
  width: 100%;
  height: 550px;
  margin-bottom: 200px;
}
.about .about-article-left .about-photo {
  width: 50%;
  min-width: 500px;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 38%;
  z-index: 5;
}
.about .about-article-left .about-text {
  width: 40vw;
  min-height: 500px;
  border-radius: 25px 0 0 25px;
  position: absolute;
  top: 5%;
  left: 60%;
  color: #fff;
  background-color: #333;
  padding: 28px;
  z-index: 10;
}
.about .about-article-left .about-subTitle {
  font-size: clamp(28px, 2.5vw, 42px);
  padding-bottom: 40px;
  position: relative;
}
.about .about-article-left .about-subTitle::after {
  content: "";
  width: 60%;
  max-width: 500px;
  height: 3px;
  background-image: -webkit-linear-gradient(left, #fff, #fff 8px, transparent 3px, transparent 8px);
  background-image: linear-gradient(to right, #fff, #fff 8px, transparent 3px, transparent 8px);
  background-size: 16px;
  border-radius: 5px;
  background-repeat: repeat-x;
  bottom: 0;
  left: 30px;
  position: absolute;
}
.about .about-article-left .about-description {
  font-size: clamp(14px, 1.5vw, 17px);
  padding: 40px 80px 10px 30px;
  max-width: 500px;
}
.about .about-article-left .link-btn {
  display: block;
  text-align: center;
  width: 190px;
  font-size: clamp(16px, 2vw, 20px);
  color: #333;
  background-color: #fff;
  border: solid 1px #333;
  padding: 16px 28px;
  margin: 40px 0 10px 30px;
  border-radius: 5px;
  box-shadow: 0 0 3px #fff;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 900px) {
  .about .about-article-left .link-btn:hover {
    color: #fff;
    background-color: #666;
    text-decoration: underline;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .about .about-article-left .link-btn:hover::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 20px;
    border-right: 8px transparent solid;
    border-left: 8px transparent solid;
    border-bottom: 15px #666 solid;
  }
  .about .about-article-left .link-btn:hover::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 20px;
    border-right: 8px transparent solid;
    border-left: 8px transparent solid;
    border-bottom: 15px #666 solid;
  }
}
.about .about-article-right {
  position: relative;
  width: 100%;
  height: 550px;
  margin-bottom: 200px;
}
.about .about-article-right .about-photo {
  width: 50%;
  min-width: 500px;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 38%;
  z-index: 5;
}
.about .about-article-right .about-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  width: 40vw;
  min-height: 500px;
  border-radius: 0 25px 25px 0;
  position: absolute;
  top: 5%;
  right: 60%;
  color: #fff;
  background-color: #333;
  padding: 28px;
  z-index: 10;
}
.about .about-article-right .about-subTitle {
  font-size: clamp(28px, 3vw, 42px);
  padding-bottom: 40px;
  position: relative;
}
.about .about-article-right .about-subTitle::after {
  content: "";
  width: 100%;
  max-width: 500px;
  height: 3px;
  background-image: -webkit-linear-gradient(left, #fff, #fff 8px, transparent 3px, transparent 8px);
  background-image: linear-gradient(to right, #fff, #fff 8px, transparent 3px, transparent 8px);
  background-size: 16px;
  border-radius: 5px;
  background-repeat: repeat-x;
  bottom: 0;
  right: 40px;
  position: absolute;
}
.about .about-article-right .about-description {
  font-size: clamp(14px, 1.5vw, 17px);
  padding: 40px 30px 10px 80px;
  max-width: 500px;
}
.about .about-article-right .link-btn {
  display: block;
  text-align: center;
  width: 190px;
  font-size: clamp(16px, 2vw, 20px);
  color: #333;
  background-color: #fff;
  border: solid 1px #333;
  padding: 16px 28px;
  margin: 40px 40px 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 3px #fff;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 900px) {
  .about .about-article-right .link-btn:hover {
    color: #fff;
    background-color: #666;
    text-decoration: underline;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .about .about-article-right .link-btn:hover::before {
    content: "";
    position: absolute;
    top: 15px;
    right: -15px;
    width: 15px;
    height: 30px;
    border-radius: 0 15px 15px 0;
    background-color: #666;
    box-shadow: 1px 0 3px #fff;
    border: 1px #333 solid;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .about .about-article-right .link-btn:hover::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -10px;
    width: 10px;
    height: 20px;
    border-radius: 0 10px 10px 0;
    background-color: #333;
    box-shadow: inset 0 0 3px #fff;
    border: 1px #333 solid;
  }
}

/*------------------------------------
main - section - feature
-------------------------------------*/
.feature {
  counter-reset: model;
}
.feature .section-title {
  text-align: center;
  padding: 60px 0;
  font-size: clamp(38px, 3vw, 58px);
  color: #666;
  background-color: #ECF2F2;
  text-shadow: 0 0 20px #fff;
}
.feature .section-title span {
  display: inline-block;
  -webkit-animation: textFlash 1s;
          animation: textFlash 1s;
}
.feature .feature-box {
  background-color: #fff;
  max-width: 1356px;
  padding: 0 2.5rem;
  margin-left: auto;
  margin-right: auto;
  min-width: auto;
}
.feature .feature-box .tabi-route {
  background: -webkit-radial-gradient(circle farthest-side, #2B3639, #2B3639 20%, transparent 40%, transparent);
  background: radial-gradient(circle farthest-side, #2B3639, #2B3639 20%, transparent 40%, transparent);
  background-size: 8px 8px;
  background-position: left bottom;
  background-repeat: repeat-y;
  display: block;
  position: relative;
  counter-increment: model;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
.feature .feature-box .tabi-route::before {
  content: "" counter(model, decimal-leading-zero) "";
  text-align: center;
  line-height: 48px;
  width: 48px;
  height: 48px;
  color: white;
  background: #2B3639;
  display: block;
  position: absolute;
  left: -20px;
  top: 1.5rem;
  border-radius: 50%;
}
.feature .feature-box .tabi-route > h3 {
  position: relative;
  z-index: 2;
  text-align: start;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 3rem;
}
.feature .feature-box .tabi-route > h3 > span {
  display: block;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0;
}
.feature .feature-box .tabi-route .model {
  display: -webkit-box;
  display: flex;
  gap: 1rem;
  -webkit-box-align: start;
          align-items: flex-start;
  box-sizing: border-box;
  margin-top: max(0.5rem, 20px);
}
.feature .feature-box .tabi-route .model .model-left {
  padding-left: max(1.25rem, 40px);
  width: calc(50% - 0.5rem);
  min-height: 100px;
}
.feature .feature-box .tabi-route .model .model-left .model-left-text {
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 1.25vw, 16px);
}
.feature .feature-box .tabi-route .model .model-left .detail-btn {
  display: block;
  margin-top: 1rem;
}
.feature .feature-box .tabi-route .model .model-left .detail-btn > span {
  font-size: clamp(12px, 1.25vw, 16px);
  border: solid 1px #2B3639;
  display: block;
  padding: 8px 32px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.feature .feature-box .tabi-route .model .model-left .detail-btn > span::before {
  content: "";
  background: #2B3639;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 1px;
  right: 17px;
}
.feature .feature-box .tabi-route .model .model-left .detail-btn > span::after {
  content: "";
  background: #2B3639;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 12px;
  right: 23px;
}
.feature .feature-box .tabi-route .model .model-left .detail-btn.active > span::after {
  width: 0;
  height: 0;
}
.feature .feature-box .tabi-route .model .model-left .detail-content {
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 1.25vw, 14px);
  border: solid 1px #2B3639;
  border-top: none;
  padding: 8px;
  display: none;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.feature .feature-box .tabi-route .model .model-left .detail-content.active {
  display: block;
  opacity: 1;
}
.feature .feature-box .tabi-route .model .model-left .detail-content > p {
  padding-left: 16px;
  position: relative;
}
.feature .feature-box .tabi-route .model .model-left .detail-content > p::before {
  content: "〇";
  width: auto;
  height: auto;
  left: -0.25rem;
  position: absolute;
}
.feature .feature-box .tabi-route .model .model-right {
  padding-right: max(1.25rem, 40px);
  width: calc(50% - 0.5rem);
  min-height: 100px;
}
.feature .feature-box .tabi-route .model .model-right .model-right-img {
  width: 80%;
}
.feature .feature-box .tabi-route .model .model-right .model-right-img > img {
  height: 100%;
}
.feature .feature-end {
  height: 80px;
}

/*------------------------------------
main - section - slideshow
-------------------------------------*/
@-webkit-keyframes slideShow {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes slideShow {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.slideshow .slide-area {
  width: 100%;
  height: 30vw;
  min-height: 300px;
  max-height: 600px;
  background-color: #333;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  overflow-x: hidden;
}
.slideshow .slide-area .section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  font-size: clamp(32px, 2.5vw, 58px);
  z-index: 20;
}
.slideshow .slide-area .section-title span {
  display: inline-block;
  -webkit-animation: textFlash 1s;
          animation: textFlash 1s;
}
.slideshow .slide-area .slide-items {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 80%;
  -webkit-animation: slideShow 20s infinite linear 0.5s both;
          animation: slideShow 20s infinite linear 0.5s both;
  z-index: 1;
}
.slideshow .slide-area .slide-items img {
  width: auto;
  height: 100%;
  max-height: 400px;
  min-height: 200px;
}

/*------------------------------------
main - section - access
-------------------------------------*/
.access {
  background-color: #fff;
}
.access .section-title {
  text-align: center;
  font-size: clamp(38px, 3vw, 58px);
  padding: 60px 0;
}
.access .section-title span {
  display: inline-block;
  -webkit-animation: textFlash 1s;
          animation: textFlash 1s;
}
.access .access-area {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 80px;
  padding-bottom: 80px;
}
.access .access-area .g-map {
  position: relative;
  display: block;
  width: 100%;
  max-width: 600px;
  padding-top: 40%;
}
.access .access-area .g-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.access .access-area .access-text {
  min-width: 250px;
  margin-left: 50px;
  line-height: 1.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: max(1rem, 32px) 0;
}
.access .access-area .access-text ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  gap: 15px;
  max-width: 200px;
}

/*------------------------------------
footer
-------------------------------------*/
.footer {
  background-color: #333;
  color: #fff;
}
.footer .f-nav {
  width: 100%;
  padding: 8px;
}
.footer .f-nav-area {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(14px, 1.5vw, 17px);
}
.footer .f-nav-area ul {
  width: 100%;
  margin-left: 30px;
  padding: 30px 0;
  line-height: 2rem;
}
.footer .f-nav-area ul li {
  display: inline-block;
  padding: 0 30px 0 10px;
}
.footer .reTop {
  width: 40px;
  margin: 0 0 0 auto;
  cursor: pointer;
}
.footer .copyright {
  font-size: 12px;
  text-align: center;
}

/*---------------------------------------
responsive -under 900px- 
----------------------------------------*/
@media screen and (max-width: 900px) {
  .wrapper {
    width: 100%;
  }
  .aside-left {
    display: none;
  }
  .aside-right {
    display: none;
  }
  .top-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px #333;
    z-index: 500;
  }
  .top-header .t-logo {
    width: 50px;
    margin: 10px;
  }
  .top-header .sitemap-btn {
    display: inline-block;
    position: relative;
    font-size: 0.75rem;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .top-header .sitemap-btn > span {
    background-color: #666;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .top-header .sitemap-btn > span:nth-child(1) {
    top: 22px;
  }
  .top-header .sitemap-btn > span:nth-child(3) {
    top: 38px;
  }
  .top-header .sitemap-btn > p {
    position: absolute;
    width: 80px;
    text-align: center;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-decoration: underline;
  }
  .top-header .sitemap-btn.active span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-15px, -4px);
            transform: rotate(-45deg) translate(-15px, -4px);
  }
  .top-header .sitemap-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .top-header .sitemap-btn.active span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-15px, 4px);
            transform: rotate(45deg) translate(-15px, 4px);
  }
  .top-header .sitemap-btn.active p {
    color: rgb(0, 117, 252);
  }
  .sitemap-mask {
    margin-left: 0;
    width: 100%;
  }
  .home-news .home-news-area-box {
    width: 80%;
  }
  /*------------------------------------
  responsive-900 - main - section - about
  -------------------------------------*/
  .about .section-title {
    font-size: clamp(32px, 3vw, 58px);
  }
  .about .about-article-left {
    height: auto;
    margin-bottom: 50px;
  }
  .about .about-article-left .about-photo {
    width: 70%;
    min-width: auto;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    position: static;
  }
  .about .about-article-left .about-text {
    width: 50vw;
    left: 50%;
    min-height: 350px;
    padding: 22px;
  }
  .about .about-article-left .about-subTitle {
    font-size: clamp(20px, 2.5vw, 42px);
    text-align: center;
    padding-bottom: 20px;
  }
  .about .about-article-left .about-subTitle::after {
    width: 100%;
    left: 0;
  }
  .about .about-article-left .about-description {
    font-size: clamp(13px, 1.5vw, 16px);
    padding: 20px 15px 10px 15px;
  }
  .about .about-article-left .link-btn {
    width: 140px;
    font-size: clamp(14px, 1.8vw, 18px);
    margin: 20px auto;
    padding: 12px 18px;
  }
  .about .about-article-right {
    height: auto;
    margin-bottom: 50px;
  }
  .about .about-article-right .about-photo {
    width: 70%;
    max-width: 500px;
    max-height: 500px;
    min-width: auto;
    border-radius: 10px;
    display: block;
    position: static;
    margin: 0 0 0 auto;
  }
  .about .about-article-right .about-text {
    width: 50vw;
    right: 50%;
    min-height: 350px;
    padding: 22px;
    -webkit-box-align: center;
            align-items: center;
  }
  .about .about-article-right .about-subTitle {
    text-align: center;
    font-size: clamp(20px, 2.5vw, 42px);
    padding-bottom: 20px;
  }
  .about .about-article-right .about-subTitle::after {
    content: "";
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .about .about-article-right .about-description {
    font-size: clamp(13px, 1.5vw, 16px);
    padding: 20px 15px 10px 15px;
  }
  .about .about-article-right .link-btn {
    width: 140px;
    font-size: clamp(14px, 1.8vw, 18px);
    margin: 20px auto;
    padding: 12px 18px;
  }
  /*------------------------------------
  responsive-900  main - section - feature
  -------------------------------------*/
  .feature .section-title {
    padding: 30px 30px;
    font-size: clamp(32px, 3vw, 58px);
  }
  .feature .feature-box .tabi-route .model {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
  .feature .feature-box .tabi-route .model .model-right {
    width: 100%;
    padding-right: 0;
    padding-left: max(1.25rem, 40px);
  }
  .feature .feature-box .tabi-route .model .model-left {
    width: 100%;
  }
  .feature .feature-end {
    height: 0;
  }
  /*------------------------------------
  responsive900 main - section - slideshow
  -------------------------------------*/
  .slideshow .slide-area .section-title {
    font-size: clamp(28px, 3vw, 58px);
  }
  /*------------------------------------
  responsive900 main - section - access
  -------------------------------------*/
  .access .section-title {
    font-size: clamp(32px, 3vw, 58px);
    padding: 30px 0;
  }
  .access .access-area {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
  .access .access-area .access-text {
    margin-left: 5px;
    line-height: 1.5rem;
  }
  .access .access-area .access-text h3 {
    padding-top: 16px;
  }
  /*------------------------------------
  responsive900  footer
  -------------------------------------*/
  .footer {
    margin-left: 0;
  }
}
/*---------------------------------------
responsive -under 560px- min:w320px*h600px
----------------------------------------*/
@media screen and (max-width: 560px) {
  .wrapper {
    width: 100%;
  }
  .aside-left {
    display: none;
  }
  .aside-right {
    display: none;
  }
  .top-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px #333;
    z-index: 500;
  }
  .top-header .t-logo {
    width: 50px;
    margin: 10px;
  }
  .top-header .sitemap-btn {
    display: inline-block;
    position: relative;
    font-size: 0.75rem;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .top-header .sitemap-btn > span {
    background-color: #666;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .top-header .sitemap-btn > span:nth-child(1) {
    top: 22px;
  }
  .top-header .sitemap-btn > span:nth-child(3) {
    top: 38px;
  }
  .top-header .sitemap-btn > p {
    position: absolute;
    width: 80px;
    text-align: center;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-decoration: underline;
  }
  .top-header .sitemap-btn.active span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-15px, -4px);
            transform: rotate(-45deg) translate(-15px, -4px);
  }
  .top-header .sitemap-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .top-header .sitemap-btn.active span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-15px, 4px);
            transform: rotate(45deg) translate(-15px, 4px);
  }
  .top-header .sitemap-btn.active p {
    color: rgb(0, 117, 252);
  }
  .sitemap .sitemap-mask {
    margin-left: 0;
    width: 100%;
  }
  .home-news .home-news-area-box {
    width: 90%;
  }
  /*------------------------------------
  responsive560 - main - section - about
  -------------------------------------*/
  .about .section-title {
    font-size: clamp(32px, 3vw, 58px);
  }
  .about .about-article-left {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }
  .about .about-article-left .about-photo {
    width: 100%;
    min-width: auto;
    border-radius: 0;
    position: static;
    max-width: 100%;
    max-height: 100%;
  }
  .about .about-article-left .about-text {
    width: 100%;
    min-height: auto;
    border-radius: 0;
    position: static;
    padding: 16px 8px;
  }
  .about .about-article-left .about-subTitle {
    text-align: center;
    font-size: clamp(20px, 2.5vw, 42px);
    padding-bottom: 20px;
  }
  .about .about-article-left .about-subTitle::after {
    content: "";
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .about .about-article-left .about-description {
    font-size: clamp(13px, 1.5vw, 16px);
    padding: 20px 30px 10px 30px;
  }
  .about .about-article-left .link-btn {
    width: 160px;
    font-size: clamp(14px, 1.8vw, 18px);
    margin: 20px auto;
  }
  .about .about-article-right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }
  .about .about-article-right .about-photo {
    width: 100%;
    min-width: auto;
    border-radius: 0;
    position: static;
    max-width: 100%;
    max-height: 100%;
  }
  .about .about-article-right .about-text {
    display: block;
    width: 100%;
    min-height: auto;
    border-radius: 0;
    position: static;
    padding: 16px 8px;
  }
  .about .about-article-right .about-subTitle {
    text-align: center;
    font-size: clamp(20px, 2.5vw, 42px);
    padding-bottom: 20px;
  }
  .about .about-article-right .about-subTitle::after {
    content: "";
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .about .about-article-right .about-description {
    font-size: clamp(13px, 1.5vw, 16px);
    padding: 20px 30px 10px 30px;
  }
  .about .about-article-right .link-btn {
    width: 160px;
    font-size: clamp(14px, 1.8vw, 18px);
    margin: 20px auto;
  }
  /*------------------------------------
  responsive560 main - section - feature
  -------------------------------------*/
  .feature .feature-box {
    display: block;
    margin-top: 0;
  }
  .feature .feature-box .feature-photo {
    display: none;
  }
  .feature .feature-box .feature-text-area {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    color: #fff;
    text-shadow: 0 0 2px #fff;
    padding: 0;
    box-shadow: 0 0 2px #333;
  }
  .feature .feature-box .feature-text-area .feature-text {
    padding: 15px;
    background-size: cover;
    background-position: center;
  }
  .feature .feature-box .feature-text-area .feature-text#feature-a {
    background-image: url(../img/photo/home-coffee-feature-01.jpg);
  }
  .feature .feature-box .feature-text-area .feature-text#feature-b {
    background-image: url(../img/photo/home-coffee-feature-02.jpg);
  }
  .feature .feature-box .feature-text-area .feature-text#feature-c {
    background-image: url(../img/photo/home-coffee-feature-03.jpg);
  }
  .feature .feature-box .feature-text-area .feature-text#feature-d {
    background-image: url(../img/photo/home-coffee-feature-04.jpg);
  }
  .feature .feature-box .feature-text-area .feature-text .text-bg-b {
    border-radius: 15px;
    padding: 0 16px 16px;
    box-shadow: 0 0 5px #333;
    background-color: transparent;
  }
  .feature .feature-box .feature-text-area .feature-text .text-bg-w {
    border-radius: 15px;
    padding: 0 16px 16px;
    box-shadow: 0 0 5px #fff;
    background-color: transparent;
  }
  .feature .feature-end {
    height: 0;
  }
  /*------------------------------------
  responsive560 main - section - slideshow
  -------------------------------------*/
  .slideshow .slide-area .section-title {
    font-size: clamp(28px, 3vw, 58px);
  }
  /*------------------------------------
  responsive560 main - section - access
  -------------------------------------*/
  .access .section-title {
    font-size: clamp(32px, 3vw, 58px);
    padding: 30px 0;
  }
  .access .access-area {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
  .access .access-area .g-map {
    padding-top: 100%;
  }
  .access .access-area .access-text {
    margin-left: 50px;
    line-height: 1.5rem;
  }
  .access .access-area .access-text h3 {
    padding-top: 16px;
  }
  /*------------------------------------
  responsive560 footer
  -------------------------------------*/
  .footer {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */